form {
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 40px;
}

input {
  padding: 5px 20px;
  width: 100%;
  line-height: 16px;
  margin: 10px 0;
  display: block;
  border: 1px solid #ccc;
}

.button {
  background-color: #198754;
  color: #fff;
}
